/*Ajustes de márgenes y secciones proncipales*/
section {
    padding: 16px 24px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

/* Base */
body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
 
/* Contenedor general */
.container {
    max-width: 800px;
    margin: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Navegacion y cabecera*/
.navbar {
    background-color: #0c7cb4;
    padding: 10px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}  

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Encabezados y texto común */
h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 6px;
    margin-bottom: 2px;
}
input, 
select {
    width: 100%;
    margin-bottom: 0px;
    padding: 3px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Formularios y casos de error */
.flashes {
    list-style: none;
    padding: 0;
}

.flashes li.success {
    background-color: azure;
    color: #155724;
    padding: 0.5rem;
    border-left: 4px solid black;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.5rem;
    border-left: 40px solid black;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 2px;
    margin-bottom: 4px;
}

/* Pasos del formulario */

/* Reesumen final*/
#resumen-datos li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

#resumen-datos strong {
    display: inline-block;
    width: 180px;
    color: #0c7cb4;
}

/* Botones */
button {
    background-color: #0c7cb4;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}
button:hover{
    background-color: #095e8b;
}

/* Elementos auxiliares */

/* Media Querris para diseños responsive. */