<section id="paso3" style="display:none;">
    <h2>Resumen del registro</h2>
    <p>Revisa los datos introducidos antes de confirmar el envío.</p>

    <div id="resumen-datos">
        <fieldset>
        <ul>
            <li><strong>Nombre: </strong> <span id="resumen-nombre"></span></li>
            <li><strong>Primer apellido: </strong><span id="resumen-apellido1"></span></li>
            <li><strong>Segundo apellido: </strong><span id="resumen-apellido2"></span></li>
            <li><strong>Teléfono: </strong><span id="resumen-telefono"></span></li>
            <li><strong>Correo electrónico: </strong><span id="resumen-correo"></span></li>
            <li><strong>Municipio: </strong><span id="resumen-municipio"></span></li>
            <li><strong>Dirección postal: </strong><span id="resumen-direccion"></span></li>
            <li><strong>Observaciones:</strong><span id="resumen-observaciones"></span></li>
        </ul>
        </fieldset>
    </div>

    <button type="button" id="boton-atras2">⬅️ Atrás</button>
    <button type="submit" onclick="return confirm('¿Desea enviar el registro?')">✅ Enviar</button>
</section>