{% extends 'base.html' %}
{% block title %}Nuevo registro{% endblock%}
{%block content%}
    <h2>Realizar nuevo registro</h2>
    <form action="{{ url_for('direcciones.nuevo')}}" method="post" autocomplete="off">
    
         <fieldset>
            <legend>Datos personales</legend>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{ nombre | default('') }}" required><br><br>
            
            <label for="apellido1">Primer apellido</label><br>
            <input type="text" id="apellido1" name="apellido1" value="{{ apellido1 | default('') }}" required><br><br>

            <label for="apellido2">Segundo apellido</label><br>
            <input type="text" id="apellido2" name="apellido2" value="{{ apellido2 | default('') }}"><br><br>
                      
         </fieldset>
        
        <fieldset>
            <legend>Datos de contacto</legend>
            <label for="telefono">Teléfono de contacto</label><br>
            <input type="tel" id="telefono" name="telefono" value="{{ telefono | default('') }}" required><br><br>

            <label for="correoElectronico">Correo electrónico</label><br>
            <input type="email" id="correoElectronico" name="correoElectronico" value="{{ correoElectronico | default('') }}"><br><br>
        </fieldset>

        <!-- Dirección con validación por municipio -->
         <fieldset>
            <legend>Ubicación de residencia</legend>

            <label for="municipio">Municipio:</label><br>
            <input type="text" id="municipio" name="municipio" value="{{ municipio | default('') }}" required><br><br>
        </fieldset>

        <!-- Contenedor para selectores dinámicos de Llanera-->

        <div id="direccion_estructurada" style="display: none;">
            <label for="tipo_via">Tipo de vía:</label><br>
            <select id="tipo_via" name="tipo_via"></select><br><br>

            <label for="nombre_via">Nombre de la vía:</label><br>
            <select id="nombre_via" name="nombre_via"></select><br><br>

            <label for="numero">Número:</label><br>
            <select id="numero" name="numero"></select><br><br>

            <label for="piso">Piso:</label><br>
            <select id="piso" name="piso"></select><br><br>

            <label for="puerta">Puerta:</label><br>
            <select id="puerta" name="puerta"></select><br><br>

            <label for="codPostal">Código postal:</label><br>
            <select id="codPostal" name="codPostal"></select><br><br>
        </div>
        
            <!-- Contenedor para direcciones fuera de Llanera-->
        <div id="direccion_manual" style="display: none;">
            <label for="tipo_via_manual">Tipo de vía:</label><br>
            <input type="text" id="tipo_via_manual" name="tipo_via"><br><br>

            <label for="nombre_via_manual">Nombre de la vía:</label><br>
            <input type="text" id="nombre_via_manual" name="nombre_via"><br><br>

            <label for="numero_manual">Número:</label><br>
            <input type="number" id="numero_manual" name="numero"><br><br>

            <label for="piso_manual">Piso:</label><br>
            <input type="text" id="piso_manual" name="piso"><br><br>

            <label for="puerta_manual">Puerta:</label><br>
            <input type="text" id="puerta_manual" name="puerta"><br><br>

            <label for="codPostal_manual">Código postal:</label><br>
            <input type="text" id="codPostal_manual" name="codPostal"><br><br>
            
        </div>
         </fieldset>

         <!-- Campo opcional -->
          <fieldset>
            <legend>Información adicional</legend>
            <label for="observaciones">Observaciones</label><br>
            <input type="text" id="observaciones" name="observaciones" autocomplete="off"><br><br>
          </fieldset>

          <button type="submit" onclick="return confirm('¿Estás seguro de que deseas guardar estos datos?')">Guardar</button>
    </form>
    
   <script src="{{ url_for('static', filename='js/manejo_direccion.js')}}"></script>
{% endblock %}