{% extends 'base.html' %}
{% block title %}Nuevo registro{% endblock%}
{%block content%}
    <h2>Realizar nuevo registro</h2>
    <form action="{{ url_for('direcciones.nuevo')}}" method="post" autocomplete="off">
    
        <!-- Indicador de progreso-->
         <div id="progreso" arial-label="Progrreso del formulario">
            <p><strong>Paso <span id="etapa-actual">1</span> de 3</strong></p>
         </div>

        {% include "_datosPersonales.html" %}
        {% include "_direccionContacto.html" %}
        {% include "_resumen.html" %}

        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas guardar estos datos?')">Guardar</button>
    </form>
    
   <script src="{{ url_for('static', filename='js/manejo_direccion.js')}}"></script>
{% endblock %}
    


        

        
        